<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Books</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar">
        <nav>
            <ul id="lista">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/books}">Books</a></li>
                <li><a th:href="@{/book/new}">Add book</a></li>
            </ul>
        </nav>
        <img src="nav.png" class="menu-icon" onclick="togglemenu()">

    </div>
</header>
    <h1>My books</h1>
<div class="body">
<div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead>
        <tr>
            <th>Tittle</th>
            <th>Author</th>
            <th>Pages</th>
            <th>Serie</th>
        </tr>
        </thead>
    </table>
</div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
        <tr th:each = "book: ${books}">
            <td th:text="${book.tittle}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.pages}"></td>
            <td th:text="${book.serie}"></td>
            <td>
                <a th:href="@{/user/{userId}/books/{id}(id=${book.id}, userId=${user.id})}" class = "boton">Show more</a>
                <a th:href="@{/user/{userId}/books/edit/{id}(id=${book.id}, userId=${user.id})}" class = "boton">Edit</a>
                <a th:href="@{/user/{userId}/books/delete/{id}(id=${book.id}, userId=${user.id})}" class = "boton">Delete</a>
            </td>
        </tr>
         </tbody>
        </table>
    </div>

</div>
    <div class="new-book">
        <a th:href="@{/user/{userId}/book/new (userId=${user.id})}" >New book</a>
    </div>
</div>

<script>
    var lista = document.getElementById("lista");
    lista.style.maxHeight = "0px";

    function togglemenu(){
        if(lista.style.maxHeight === "0px") {
            lista.style.maxHeight = "145px";
        } else {
            lista.style.maxHeight = "0px";
        }
    }

    $(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width(3);
        $('.tbl-header').css({'padding-right':scrollWidth});
    }).resize();
</script>
</body>
</html>