<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Books</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar">
        <nav>
            <ul id="lista">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/books}">Books</a></li>
                <li><a th:href="@{/book/new}">Add book</a></li>
            </ul>
        </nav>
        <img src="nav.png" class="menu-icon" onclick="togglemenu()">

    </div>
</header>
<div class="book-main">
    <div class="card-text">
        <div class="portada">

        </div>
        <div class="title-total">
            <div th:text="${book.author}" class="title"></div>
            <h2 th:text="${book.tittle}"></h2>

            <div class="desc"></div>
            <div class="actions">
                <a th:href="@{/books/{bookId}/new_comment(bookId=${book.id})}" class = "boton">Add comment</a>
                <a th:href="@{/books/{bookId}/comments(bookId=${book.id})}" class = "boton">All comments</a>
            </div>
        </div>

    </div>



</div>
<script>
    var lista = document.getElementById("lista");
    lista.style.maxHeight = "0px";

    function togglemenu(){
        if(lista.style.maxHeight === "0px") {
            lista.style.maxHeight = "145px";
        } else {
            lista.style.maxHeight = "0px";
        }
    }

    $(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width(3);
        $('.tbl-header').css({'padding-right':scrollWidth});
    }).resize();
</script>
</body>
</html>