<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Books</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar">
        <nav>
            <ul id="lista">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/books}">Books</a></li>
                <li><a th:href="@{/book/new}">Add book</a></li>

            </ul>
        </nav>
        <img src="nav.png" class="menu-icon" onclick="togglemenu()">

    </div>
</header>
<div class="login-box">
    <h2>New book</h2>
    <form th:action="@{/books/{bookId}/comments/{id} (id=${comment.id}, bookId=${book.id})}" th:object="${comment}" method="post">
        <div class="user-box" id="comment-text">
            <input type="text" name = "text" th:field = "*{text}">
            <label>Your comment</label>
        </div>
        <div class="user-box">
            <input type="number" name = "pages" th:field = "*{pageNumber}">
            <label>Page number</label>
        </div>
        <button type="submit" class="boton">Submit</button>
    </form>
</div>
</body>
</html>